* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    overflow: hidden;
    scroll-behavior: smooth;
}


:target {
    scroll-margin-top: .8em;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("https://img.freepik.com/fotos-gratis/vista-superior-vegetais-e-frutas-alface-tomate-pepino-endro-tomate-cereja-abobrinha-cebola-verde-salsa-maca-limao-kiwi-tabua-redonda-de-madeira-no-centro_140725-59433.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.form-container {
	display: flex;
    justify-content: center;
    width: 900px;
    height: 550px;
    margin: auto;
    margin-top: 5vh;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: #fff
}

.form-login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spanSeta {
	position: absolute;
	top: 3%;
	left: 19%;
	font-size: 60px;
	color: #000;
	text-decoration: none;
    transition: .8s;
}

.spanSeta:hover {
	color: #0f8b2e;
	
}

.form-login .form-input input {
    width: 350px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    transition: .5s;
}

.form-login .form-input input:focus {
    border-bottom: 2px solid #0f8b2e;
    
}

.form-input p {
    font-size: 16px;
    color: black;
    font-weight: bold;
    width: 40%;
    margin-left: 12px;
}

.form-title {
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.form-button button {
    width: 770px;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #0f8b2e;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    font-weight: 500;
}

.form-button button:hover {
    background-color: #000;
    
}

.form-login .form-login-password1 img {
    width: 1.172vw;
    height: 2.943vh;
    position: absolute;
    right: 51.5%;
    margin-top: 1.5%;
    cursor: pointer;
}

.form-login .form-login-password2 img {
    width: 1.172vw;
    height: 2.943vh;
    position: absolute;
    margin-top: 1.5%;
    left: 76.5%;
    cursor: pointer;


}

/* modais de erro */

.fechar{
    font-size: 15px;
    font-weight: 200;
    width: 20%;
    height: 20%;
    background-color: #b0e9be;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.fechar:hover{
    background-color: #ff0000;
    color: #fff;
    
}

.texto {
    display: flex;
    color:red ;
    margin-top: 45px;
}

.texto1 {
    display: flex;
    color:red ;
    margin-top: 0px;
}

.modal-container1 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
    
}
.modal-container2 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
}
.modal-container3 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
}
.modal-container4 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
    
}
.modal-container5 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
    
}
.modal-container6 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
    
}
.modal-container7 {
    width: 300px;
    height: 120px;
    top: 30px;
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
    
}

.modal1 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}
.modal2 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}
.modal3 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}
.modal4 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}
.modal5 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}
.modal6 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}
.modal7 {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    z-index: 999;
}













